<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{requested_language}}</h1>
<ul>
    {% for language in languages_list %}
      {% if language.language == requested_language %}
        {% for country in language.countries %}
            <li><a href="/{{country}}">{{country}}</a></li>
        {% endfor %}
      {% endif %}
    {% endfor %}
</ul>
</body>
<footer>
    <a href = "/countries-list">К списку стран</a>&nbsp<a href = "/languages-list">К списку языков</a>
</footer>
</html>